
body {
    font-family: sans-serif;
    padding: 30px;
    background-color: #f6f6f6;
}

h1 {
    color: #333;
    text-align: center;

}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #ccc;
    max-width: 600px;
    margin: 0 auto;
}



button {
    padding: 10px 20px;
    font-size: 1em;
}


